@keyframes myanimation {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}



.minutes {
    background-color: black;
    animation: myanimation 6s infinite linear;
}



.hours {
    background-color: black;
    animation: myanimation 60s infinite linear;
}