body{
    margin: 20px;
}



.box{
    background-color: #247;
    color: fff;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 150%;
}



.flex-container{
    background-color:brown;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:flex-end;
    gap: 10px;
    flex: 0 1 auto;
}



.box3{
    background-color: blanchedalmond;
    align-self: center;
    flex: 1 1 auto;
}



.video{
    article {
        border-radius: 20px;
        overflow: hidden; 
    }    
}