body{
    padding: 30px;
}



.box{
    background-color: coral;
    width: 50px;
    height: 50px;
    animation: myanimation 3s infinite ease-in;
}



@keyframes myanimation {
    0%{width: 50px;}
    50%{background-color: aquamarine; height: 20px;}
    100%{width: 100px;}
}



@keyframes bounce {
    from {transform: translate3d(0, 0, 0);}
    to {transform: translate3d(640px, 0, 0);}
}

#ball {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: blueviolet;
}